{
    "extends": ["@jahia", "prettier"],
    "plugins": ["json"],
    "parser": "babel-eslint",
    "rules": {
        "react/boolean-prop-naming": [
            "error",
            {
                "rule": "^((is|has)[A-Z]([A-Za-z0-9]?)+|disabled|readOnly|autoFocus)"
            }
        ],
        "react/jsx-tag-spacing": [
            "warn",
            {
                "closingSlash": "never",
                "beforeSelfClosing": "always",
                "afterOpening": "never",
                "beforeClosing": "never"
            }
        ],
        "react/jsx-curly-newline": [
            "off",
            {
                "multiline": "consistent",
                "singleline": "forbid"
            }
        ]
    }
}
