@import '../../styles/shared/all';

%button {
    @extend %uppercase;

    font-weight: 500;

    height: space(huge);
    padding: space(small) space(large);

    border: $field-border-width solid transparent;
    border-radius: $base-radius;
    cursor: pointer;

    transition: all 0.4s ease-out;

    // TODO: Sould depend of direction and alignment (row/column and right/left)
    & + & {
        margin-left: space(medium);
    }

    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.4;
        pointer-events: none;
    }
}

.mdk-button {
    @extend %button;

    padding: space(small) space(large);
    border-color: $color-text-body;

    &:hover {
        color: $white;
        background-color: $color-text-body;
    }

    & + .mdk-button {
        margin-left: space(medium);
    }

    @each $state, $color in $color-states {
        &.is-#{$state} {
            color: $color;
            border-color: $color;

            &:hover {
                color: $color-white;
                background-color: $color;
            }
        }
    }
}

.mdk-button_primary {
    @extend %button;

    color: $color-white;

    @each $state, $color in $color-states {
        &.is-#{$state} {
            background-color: $color;

            &:hover {
                background-color: darken($color, 10%);
            }
        }
    }
}

.mdk-button_ghost {
    @extend %button;

    @each $state, $color in $color-states {
        &.is-#{$state} {
            color: $color;

            &:hover {
                color: darken($color, 10%);
            }
        }
    }
}
