@import '../../styles/shared/all';

// @import '@material/react-button/index.scss';

// .mdc-button {
//     @include mdc-button-filled-accessible(red);
// }

// .MuiButton-root {
//     background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
//     border-radius: 3px;
//     border: 0;
//     color: white;
//     height: 48px;
//     padding: 0 30px;
//     box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
// }

%button {
    @extend %uppercase;

    height: space(huge);

    font-weight: 500;
    padding: space(small) space(large);
    border-radius: $base-radius;
    cursor: pointer;
    border: $field-border-width solid transparent;

    transition: all 0.4s ease-out;

    & + & {
        margin-left: space(medium);
    }

    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.4;

        pointer-events: none;
    }
}

.mdk-button {
    @extend %button;

    padding: space(small) space(large);

    border-color: $color-text-body;

    &:hover {
        background-color: $color-text-body;
        color: $white;
    }

    @each $state, $color in $color-states {
        &.is-#{$state} {
            border-color: $color;
            color: $color;

            &:hover {
                background-color: $color;
                color: $color-white;
            }
        }
    }

    & + .mdk-button {
        margin-left: space(medium);
    }
}

.mdk-button_primary {
    @extend %button;

    color: $color-white;

    @each $state, $color in $color-states {
        &.is-#{$state} {
            background-color: $color;

            &:hover {
                background-color: darken($color, 10%);
            }
        }
    }
}

.mdk-button_ghost {
    @extend %button;

    @each $state, $color in $color-states {
        &.is-#{$state} {
            color: $color;

            &:hover {
                color: darken($color, 10%);
            }
        }
    }
}
