//---
// COLORS
//---

// Basic colors
$color-white: $white;
$color-black: $black;
$color-dark: $blue-gray-900;
$color-light: #eff1f4;

// Status colors
$color-accent: $blue-700;
$color-secondary: $deep-purple-700;
$color-success: $green-400;
$color-warning: $orange-400;
$color-danger: $red-400;
$color-info: $blue-400;
$color-disabled: $blue-gray-100;

// Text colors
$color-text-body: $blue-gray-800;
$color-text-strong: $color-dark;
$color-text-light: $blue-gray-200;
$color-text-title: $color-accent;

// Use to generate component color variant classes
$color-states: (
    accent: $color-accent,
    secondary: $color-secondary,
    success: $color-success,
    warning: $color-warning,
    danger: $color-danger,
    info: $color-info
);

//---
// Fields
//---
$field-border-width: 2px;
$field-border-color: $color-accent;
